{% extends 'base.html' %}

{% block title %}
ForkFolio - Create Recipe
{% endblock %}

{% block navbar_custom_links %}
<a class="one" href="{% url 'recipe_list' %}">Main Page</a>
{% endblock %}

{% block content %}
<main>
    <h1>Create New Recipe</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <h2>Ingredients</h2>
        <div id="ingredient-form-container" class="formset-grid">
            {{ ingredient_formset.management_form }}
            {% for form in ingredient_formset %}
            <div class="ingredient-form">
                {{ form.as_p }}
                <button type="button" class="remove-ingredient">Remove</button>
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add-ingredient">Add Ingredient</button>

        <div id="ingredient-form-template" style="display: none;">
          <div class="ingredient-form">
            {{ ingredient_formset.empty_form.as_p | safe }}
            <button type="button" class="remove-ingredient">Remove</button>
          </div>
      </div>

        <h2>Steps</h2>
        <div id="step-form-container" class="formset-grid">
            {{ step_formset.management_form }}
            {% for form in step_formset %}
            <div class="step-form">
                {{ form.as_p }}
                <button type="button" class="remove-step">Remove</button>
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add-step">Add Step</button>

        <div id="step-form-template" style="display: none;">
          <div class="step-form">
              {{ step_formset.empty_form.as_p | safe }}
              <button type="button" class="remove-step">Remove</button>
          </div>
      </div>

        <button type="submit">Create</button>
    </form>
</main>
{% endblock content %}


{% block scripts %}
<script>
  $(document).ready(function() {
    var ingredientFormIndex = $('#id_ingredients-TOTAL_FORMS').val();

    function addIngredientForm() {
        var newForm = $('#ingredient-form-template').html().replace(/__prefix__/g, ingredientFormIndex);
        $('#ingredient-form-container').append(newForm);
        $('#id_ingredients-TOTAL_FORMS').val(parseInt(ingredientFormIndex) + 1);
        ingredientFormIndex++;
    }

    function removeIngredientForm(btn) {
        $(btn).closest('.ingredient-form').remove();
        ingredientFormIndex--;
        $('#id_ingredients-TOTAL_FORMS').val(ingredientFormIndex);
    }

    $('#add-ingredient').click(function() {
        addIngredientForm();
    });

    $(document).on('click', '.remove-ingredient', function() {
        removeIngredientForm(this);
    });
  });

    $(document).ready(function() {
    // Define stepFormIndex in the scope accessible to the click handler
    var stepFormIndex = parseInt($('#id_steps-TOTAL_FORMS').val(), 10) || 0; // Initialize to 0 if it's NaN

    // Function to add new step form
    $('#add-step').click(function() {
        var newFormHtml = $('#step-form-template').html().replace(/__prefix__/g, stepFormIndex);
        $('#step-form-container').append(newFormHtml);
        $('#id_steps-TOTAL_FORMS').val(++stepFormIndex); // Increment the index
    });

    // Event delegation for removing a step form
    $('#step-form-container').on('click', '.remove-step', function() {
        $(this).closest('.step-form').remove();
        $('#id_steps-TOTAL_FORMS').val(--stepFormIndex); // Decrement the index
    });
  });
</script>

{% endblock %}
