{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
  ForkFolio - {{ recipe_object.title }}
{% endblock %}

{% block navbar_custom_links %}
  {% if user.is_authenticated and recipe_object.user == user %}
    <a class="one" href="{% url 'edit_recipe' id=recipe_object.id %}">Edit Recipe</a>
  {% endif %}
{% endblock %}

{% block content %}
  <main>
    <div class="title-and-rating">
      <h1 class="recipe-title">{{ recipe_object.title }}</h1>
      <div class="star-rating">
        <div class="star-rating-top" style="width: {{ average_rating|floatformat:2|multiply:20 }}%">
          <span>★★★★★</span>
        </div>
        <div class="star-rating-bottom">
          <span>★★★★★</span>
        </div>
      </div>
    </div>
    {% if user.is_authenticated and not user == recipe_object.user %}
    <button id='rateBtn'>Rate this Recipe</button>
    <!-- Review Modal -->
    <div id="reviewModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" action="{% url 'show_recipe' id=recipe_object.id %}">
          {% csrf_token %}
          {% for star in "12345" %}
          <input type="radio" name="stars" value="{{ forloop.counter }}" id='star{{ forloop.counter }}' class='star-rating-input' {% if forloop.counter == form.stars.value  %}checked{% endif %}/>
          <label for="star{{ forloop.counter }}"><i class="fa fa-star"></i></label>
          {% endfor %}
          <div><textarea name="review_text" placeholder="Write your review here..."></textarea></div>
          <button type="submit">Submit Review</button>
        </form>
      </div>
    </div>
    {% endif %}
    <p>Written by: <a href="{% url 'user_profile' username=recipe_object.user.username %}">{{ recipe_object.user.username }}</a></p>
    <p>{{ recipe_object.description }}</p>
    <img src="{{ recipe_object.picture }}" alt="Picture of {{ recipe_object.title }}">

    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Food item</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe_object.ingredients.all %}
        <tr>
          <td>{{ ingredient.amount }}</td>
          <td>{{ ingredient.item }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="2">No ingredients listed.</td></tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Steps</h2>
    <ol>
      {% for step in recipe_object.steps.all %}
      <li>{{ step.step_text }}</li>
      {% empty %}
      <li>No steps provided.</li>
      {% endfor %}
    </ol>
    <h2>Reviews</h2>
      {% if reviews.exists %}
        <ul>
          {% for review in reviews %}
            <li>
              <p>{{ review.user.username }}</p>
              <div class="star-rating">
                <div class="star-rating-top" style="width: {{ review.stars|multiply:20 }}%">
                  <span>★★★★★</span>
                </div>
                <div class="star-rating-bottom">
                  <span>★★★★★</span>
                </div>
              </div>
              {{ review.review_text }}
              <p>Reviewed: <span>{{ review.review_date|date:"F j, Y" }}</span></p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No reviews yet.</p>
      {% endif %}
    </div>
  </main>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
      // Initialize stars based on average rating
      setInitialStars($('.star-rating-input:checked').val() || 0);

      // Update stars on change
      $('.star-rating-input').change(function() {
          updateStars($(this).val());
      });

      // Function to update stars
      function updateStars(rating) {
          $('.star-rating-input').each(function() {
              var starLabel = $('label[for="' + $(this).attr('id') + '"] .fa');
              if (parseInt($(this).val()) <= rating) {
                  starLabel.addClass('checked');
              } else {
                  starLabel.removeClass('checked');
              }
          });
      }

      // Function to set initial stars based on average rating
      function setInitialStars(averageRating) {
          $('.star-rating-input').each(function() {
              var starLabel = $('label[for="' + $(this).attr('id') + '"] .fa');
              if (parseInt($(this).val()) <= averageRating) {
                  starLabel.addClass('checked');
              } else {
                  starLabel.removeClass('checked');
              }
          });
      }

      // Update stars on hover
      $('label').hover(function() {
          var associatedInputValue = $('#' + $(this).attr('for')).val();
          updateStars(associatedInputValue);
      }, function() {
          var checkedValue = $('.star-rating-input:checked').val() || 0;
          updateStars(checkedValue);
      });

      // Modal interaction
      var modal = document.getElementById('reviewModal');
      var btn = document.getElementById('rateBtn');
      var span = document.getElementsByClassName('close')[0];

      btn.onclick = function() {
          modal.style.display = "block";
      }

      span.onclick = function() {
          modal.style.display = "none";
      }

      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
  });
</script>
{% endblock %}
