{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
  ForkFolio Recipes
{% endblock title %}

{% block navbar_custom_links %}
  <a class="one" href="{% url 'create_recipe' %}">Create a Recipe</a>
{% endblock %}

{% block content %}
  <main>
    <h1>ForkFolio Recipes</h1>
    <div class="recipe-grid">
      {% for recipe in recipe_list %}
        <div class="recipe-grid">
          <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
          </h3>
          <img src="{{ recipe.picture }}" alt="Picture of {{ recipe.title }}" />
          <p>Posted by: <a href="{% url "user_profile" username=recipe.user.username %}">{{ recipe.user.username }}</a></p>
          <div class="title-and-rating">
            <div class="star-rating">
              <div class="star-rating-top" style="width: {{ recipe.avg_rating|default:'0'|floatformat:2|multiply:20 }}%">
                <span>★★★★★</span>
              </div>
              <div class="star-rating-bottom">
                <span>★★★★★</span>
              </div>
            </div>
          </div>
          <div>{{ recipe.created_on|date:"F j, Y" }}</div>
        </div>
      {% empty %}
        <p>There are no recipes.</p>
      {% endfor %}
    </div>
  </main>
{% endblock content%}
