{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="nav-container">
        <a class="nav-link main-page-link" href="{% url 'recipe_list' %}">ForkFolio</a>
        <div>Relish, Review, Repeat!</div>
        <div class="dropdown">
          <button class="dropbtn">Menu</button>
          <div class="dropdown-content">
            {% if user.is_authenticated %}
              <a href="{% url 'my_profile' %}">My Profile</a>
            {% block navbar_custom_links %}
            {% endblock %}
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            {% else %}
              <a href="{% url 'login' %}">Login</a>
              <a href="{% url 'signup' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    Made with love by ForkFolio&copy
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Fade in the page when it loads
        document.body.classList.add('fade-in');

        // Attach click event to all internal links for the fade-out effect
        document.querySelectorAll('a[href^="/"]').forEach(function(link) {
            link.addEventListener('click', function(e) {
                // Only handle internal links
                if (!link.href.includes(window.location.hostname)) {
                    return;
                }

                e.preventDefault();  // Prevent the default link behavior
                const destination = this.href;  // Get the href attribute of the clicked link

                document.body.classList.remove('fade-in');  // Fade out the page
                setTimeout(function() {
                    window.location = destination;  // Redirect to the link after the fade effect
                }, 500);  // This timeout duration should match the CSS transition time
            });
        });
    });
    </script>

  <script>
    $(document).ready(function() {
    });
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
